<?xml version="1.0"?>
<ruleset name="SD-ON Theme">
	<description>WordPress Coding Standards для темы SD-ON.</description>

	<file>.</file>

	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/vendor/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>

	<config name="minimum_wp_version" value="6.3"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="sd-on-theme"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="sdon"/>
				<element value="SDON"/>
			</property>
		</properties>
	</rule>
</ruleset>
